In [0]:
import numpy as np
from sklearn import preprocessing, model_selection, svm
import pandas as pd

In [0]:
df =pd.read_csv('drive/Practical Machine Learning/breast-cancer-wisconsin.data.txt', names= ['id', 'x1', 'x2', 'x3','x4', 'x5', 'x6','x7','x8', 'x9', 'Label'])

In [7]:
df.head()

        id  x1  x2  x3  x4  x5  x6  x7  x8  x9  Label
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [0]:
df.replace('?', -999, inplace =True) #Preprocessing the data
df.drop(['id'], 1, inplace= True)

In [9]:
df.head()

   x1  x2  x3  x4  x5  x6  x7  x8  x9  Label
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [0]:
x_data = np.array(df.iloc[:,0:9])

In [0]:
y_data = np.array(df["Label"])

In [0]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x_data, y_data, test_size=0.2)

In [13]:
clf = svm.SVC()
clf.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [14]:
accuracy = clf.score(x_test, y_test)
print(accuracy)

0.9571428571428572

In [0]:
example =np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,2,2,2,3,2,1]])

In [0]:
prediction = clf.predict(example)

In [17]:
print(prediction)

[2 2]